.canlı {
  background-image: url(canli-1.svg);
}

.aciklama {
  background-image: url(altaçiklama.svg);
}
.images {
  background-image: url(./bixos.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.div {
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes example {
  from {
    left: -150%;
  }
  to {
    left: 150%;
  }
}
.div-short {
  animation-delay: 200ms;
}
.div-short-1 {
  animation-delay: 250ms;
}
.div-short-2 {
  animation-delay: 300ms;
}
